@font-face {
    font-family: nue;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: nue;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: nue;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: nue;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    z-index: 10;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top , rgb(20, 0, 0), rgba(30, 108, 244, 0.962)),rgb(66, 202, 247) ;
    position: relative;
    padding: 0 2vw;
}
nav{
    position: relative;
    z-index: 100;
    padding: 2vw 0vw;
    width: 100%;
    background: linear-gradient(to top ,rgba(211, 211, 211, 0.955));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1{
    width: 4vw;
    height: 4vw;
}
#nav-part1 img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
nav h3{
    display: none;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #01010174;
    border-radius: 50px;
    font-weight: 300;
    color: #000000d8;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
    text-decoration: none;
    color: #000000d8;
    z-index: 9;
    position: relative;
}
#nav-part2 h4:hover a{
    color: #fff;
}
#center{
    height: 65vh;
    width: 100%;
   /* background-color: orange;*/
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    color: rgb(189, 187, 187);
}
#center h1{
    color: #f6eeee;
    font-size: 9vw;
    line-height: 8vw;
    text-align: end;
}
#page1 video{
    position: relative;
    width: 100%;
    margin-top: 4vw;
    border-radius: 30px;
}
#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
    filter:blur(15px) ;
}
#hero-1{
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    filter: blur(10px);
}
#hero-2{
    background: linear-gradient(#ff3f14, #ff3c3c);
    position: absolute;
    height: 30vw;
    width: 30vw;
    filter: blur(25px);
    border-radius: 50%;
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ;
    animation-direction: alternate;
}
#hero-3{
    background: linear-gradient(#ff3d12, #f36026) ;
    position: absolute;
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    filter: blur(25px);
    border-radius: 50%;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear ;
    animation-direction: alternate;
}
@keyframes anime {
    from{
        transform: translate( 55% -3%);
    }
    to{
        transform: translate(0%,10%);
    }
    
}
@keyframes anime1 {
    from{
        transform: translate( 5% -5%);
    }
    to{
        transform: translate(-20%,30%);
    }
    
}
#page2{
    position: relative;
    padding: 8vw 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top , rgb(241, 239, 239), rgba(30, 108, 244, 0.962)),rgb(66, 202, 247) ;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 6vw;
    /*background-color: lightblue;*/
    display: inline-block;
}
#gola{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FE320A;
    margin: 1vw 2vw;
}
.con{
    animation-name: move;
    animation-timing-function: linear;
    animation-duration:10s;
    animation-iteration-count: infinite; 
    animation-fill-mode: forwards;
    white-space: nowrap;
    display: inline-block;
}
@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}
#page2-bottom{
    position: relative;
    display: flex;
    align-items: center;
    padding: 4.5vw;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to top , rgba(235, 229, 229, 0.958),rgb(108, 147, 239));
}
#page2-bottom h1{
    z-index: 9;
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;

}
#bottom-part2{
    width: 20%;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}
#page3{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top , rgb(228, 223, 223), rgba(42, 97, 198, 0.962)),rgb(43, 116, 251) ;
}
#page2 #gooye{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fd4f15);
    position: absolute;
    top: 55%;
    left: 25%;
    filter: blur(20px);
    animation-name: move2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
@keyframes move2 {
    from{
        transform: translate(10%, -10%) skew(0deg);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-10deg);
    }
}
.elem{
    overflow: hidden;
    width: 100%;
    height: 110px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 3vw;

}
.elem h2{
    position: relative;
    z-index: 99;
    font-size: 3vw;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay{
    top: 0;

}
#fixed-image{
    display: none;
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    background-size: cover;
    background-position: center;
}
#page4{
    height: 70vh;
    width: 100%;
    background-color: rgb(117, 116, 116);
    padding:3vw 2vw;
}
#we{
    overflow: hidden;
    gap: 4px;
    position: fixed;
    margin-top: 280px;
    color: #fff;
    font-size: 2.2vh;
    left: 1.5%;
    height: 16vh;
    width: 27%;
}

.swiper {
    width: 100%;
    height: 100%;
}
#page4 h1{
    color: #fff;
}

.swiper-slide {
    color: #312f2f;
    background-color: lightgray;
    position: relative;
    width: 35%;
    height: 80vh;
    padding: 0 4vw;
    border-right: 1px solid #000;
    border-left: 1px solid #7c7a7a;
    overflow: hidden;
}
#write{
    padding: 2vw 1vw;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 50vh;
    height: 50vh;
}
#write h1{
    font-size: 8vh;
    color: #343333;
}
#tall h1 span{
    color: #343333;
    font-size: 6vh;
}
#tall h1 {
    color: #343333;
}
#tall{
    color: #343333;
    position: absolute;
    top: 5%;
    width: 4vw;
    height: 3vw;
    left: 4%;
}
#img{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img2{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img3{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img4{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img5{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img6{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img7{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img8{
    z-index: 10;
    position: absolute;
    right: -30%;
    width: 40vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





#page5{
    height: 110vh;
    width: 100%;
}
#footer{
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: black;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;

}
#footer h1{
    font-size: 23vw;
}
#footer-div{
    z-index: 9;
    height: 15vh;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 1vw 4vw;
}
#div h3{
    font-size: 16px;

}
#footer-div h3{
    font-size: 14px;

}

#footer #gooye{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fd4f15);
    position: absolute;
    top: -14%;
    left: -6%;
    filter: blur(20px);
    animation-name: move2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer #gooye2{
    width: 90vw;
    height: 20vw;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fd4f15);
    position: absolute;
    filter: blur(20px);
    top: -10%;
    animation-name: mov;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer #gooye3{
    width: 38vw;
    height: 28vw;
    border-radius: 50%;
    background: linear-gradient( to top right,rgb(255, 89, 0), rgb(216, 19, 19));
    position: absolute;
    filter: blur(20px);
    top: -10%;
    right: -5%;
    animation-name: mov;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer #gooye4{
    width: 30vw;
    height: 28vw;
    border-radius: 50%;
    background: linear-gradient( to top right,rgb(255, 102, 0), rgb(216, 19, 19));
    position: absolute;
    filter: blur(20px);
    top: 18%;
    right: -10%;
    animation-name: mov;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
@keyframes mov {
    from{
        transform: translate(-6%, 10%) skew(0deg);
    }
    to{
        filter: blur(30px);
        transform: translate( 10%, 10%) skew(-20deg);
    }
}
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2vw 1vw;
    color: #fff;
    justify-content: space-around;
    font-size: 1vw;
}
#full-scr{
    width: 100%;
    height: 100vh;
    top: -100%;
    z-index: 99;
    position: fixed;
    transition: all ease 0.5s;
}
#full-div1{
    height: 50%;
    width: 100%;
    background: linear-gradient(to top, blue,black);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#loader{
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    position: fixed;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;


}
#loader h1{
    font-size: 11.5vw;
    color: transparent;
    background: linear-gradient(to right, blue, orangered);
    -webkit-background-clip: text;
    opacity: 0;
    position: absolute;
    animation-name: load;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;

}
#loader h1:nth-child(2){
    animation-delay: 2s;

}
#loader h1:nth-child(3){
    animation-delay: 3s;

}
nav i{
    display: none;
}

#texts {
    display: none;
    padding-left: 10vw ;
    padding-top: 22vw;
    color: #fff;
    flex-direction: column;
    gap: 12vw;
}
#text h1{
    gap: 20px;
}
#full-scr{
    background: linear-gradient(to top ,rgba(91, 90, 90, 0.426), black);
}
@keyframes load {
    0%{
        opacity: 0;

    }
    10%{
        opacity: 1;

    }
    90%{
        opacity: 1;


    }
    100%{
        opacity: 0;


    }
}













@media (max-width:500px) {
    #texts{
        display: block;

    }
    #loader h1{
        font-size: 12vw;
    }
    #page1{
        width: 100vw;
        min-height: 100vh;
        padding: 0 0vw;
    }
    nav{
        padding: 8vw 5vw;
    }
    nav i{
        position: absolute;
        font-size: 20px;
        right: 25%;
        display: block;
        color: #fff;
    }
    #nav-part1{
        width: 4vw;
        height: 4vw;
    }
    nav img{
        transition: all ease 0.2s;
        height: 9vh;
    }
    #nav-part1 img{
        border-radius: 50%;
        width: 100%;
        scale: 3;
    }
    #nav-part2{
        display: none;
    }
    nav h3{
        z-index: 100;
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50px;
        font-size: 5vw;
        font-weight: 200;
        padding-left: 10vw;
        cursor: pointer;
    }
    #center{
        position: relative;
        z-index: 9;
        height: 62vh;
        width: 100%;
       /* background-color: orange;*/
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding-bottom: 10vw;
        padding: 7vw 5vw;
        flex-direction: column-reverse;
    }
    #left h3{
        width: 80%;
        line-height: 6vw;
        font-size: 5.5vw;
        color: rgb(189, 187, 187);
    }
    #center h1{
        color: #f6eeee;
        font-size: 16vw;
        line-height: 15vw;
        text-align: end;
    }
    #page1 video{
        position: relative;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
        margin-top: 4vw;
        border-radius: 15px;
    }
    #hero-shape{
        position: absolute;
        width: 82vw;
        height: 76vw;
        right: 0;
        top: 65vh;
        filter:blur(15px) ;
    }
    #page2{
        position: relative;
        padding: 8vw 0;
        min-height: 100vh;
        width: 100%;
        background: linear-gradient(to top , rgb(241, 239, 239), rgba(30, 108, 244, 0.962)),rgb(66, 202, 247) ;
    }
    #moving-text{
        white-space: nowrap;
        overflow-x: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    #moving-text h1{
        font-size: 15vw;
        /*background-color: lightblue;*/
        display: inline-block;
    }
    #gola{
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }
    .con{
        animation-name: move;
        animation-timing-function: linear;
        animation-duration:10s;
        animation-iteration-count: infinite; 
        animation-fill-mode: forwards;
        white-space: nowrap;
        display: inline-block;
    }
    
#page2-bottom{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 10vw 4vw;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background: linear-gradient(to top , rgba(235, 229, 229, 0.958),rgb(108, 147, 239));
}
#page2-bottom h1{
    z-index: 9;
    font-size: 7vw;
    width: 100%;
    line-height: 8vw;

}
#bottom-part2{
    z-index: 99;
    width: 70%;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 10px;
}
#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 3vw;
}
#page3{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top , rgb(224, 222, 222), rgba(30, 105, 244, 0.962)),rgb(66, 129, 247) ;
}
#page2 #gooye{
    z-index: 9;
    width: 62vw;
    height: 62vw;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fd4f15);
    position: absolute;
    top: 50%;
    left: 25%;
    filter: blur(20px);
    animation-name: move2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#page3{
    position: relative;
    width: 100%;
    height: 90vh;
}

.elem{
    overflow: hidden;
    width: 100%;
    height: 80px;
    border-top: 1px solid #474545;
    border-bottom: 1px solid #343333;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2vw 6vw;

}
.elem h2{
    position: relative;
    z-index: 99;
    font-size: 4.5vw;
}

#fixed-image{
    display: none;
    height: 60vw;
    width: 40vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 55%;
    top: 35%;

}
#page4{
    position: relative;
    height: 90vh;
    width: 100%;
}

#page5{
    height: 100vh;
    width: 100%;
}

#footer{
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: black;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;

}
#footer h1{
    position: absolute;
    top: 50%;
    font-size: 30vw;
    line-height: 10vw;
}
#footer-div{
    position: absolute;
    top:30%;
    z-index: 9;
    height: 15vh;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 1vw 4vw;
}
#div h3{
    font-size: 18px;

}
#footer-div >h3{
    font-size: 12px;

}

#footer #gooye{
    width: 48vw;
    height: 80vw;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fd4f15);
    position: absolute;
    top: -4%;
    left: -15%;
    filter: blur(20px);
    animation-name: move2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer #gooye2{
    width: 100vw;
    height: 60vw;
    border-radius: 50%;
    background: linear-gradient( to top right,#FE320A, #fd4f15);
    position: absolute;
    filter: blur(20px);
    top: -6%;
    animation-name: mov;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer #gooye3{
    width: 48vw;
    height: 76vw;
    border-radius: 50%;
    background: linear-gradient( to top right,rgb(255, 89, 0), rgb(216, 19, 19));
    position: absolute;
    filter: blur(20px);
    top:-6%;
    right: -10%;
    animation-name: mov;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer #gooye4{
    width: 37vw;
    height: 60vw;
    border-radius: 50%;
    background: linear-gradient( to top right,rgb(255, 102, 0), rgb(216, 19, 19));
    position: absolute;
    filter: blur(20px);
    top: 20%;
    right: -10%;
    animation-name: mov;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
#footer-bottom{
    position: absolute;
    top: 80%;
    border-top: 2px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 2vw 1vw;
    color: #fff;
    justify-content: space-around;
    font-size: 3vw;
    font-weight: 100;
    opacity: 0.7;
}










#we{
    border-bottom: 2px solid #b2afafe5;
    overflow: hidden;
    position: absolute;
    margin-top: 280px;
    left: 1.5%;
    height: 16vh;
    width: 100%;
    top: -40%;
}
#we>h1{
    color: #faeaea;
}


.swiper-slide {
    left: -10%;
    color: #312f2f;
    background-color: lightgray;
    position: relative;
    top: 30%;
    width: 60vw;
    height: 40vh;
    gap: -10vw;
    padding: 2vw 0vw;
    border-right: 3px solid #000 ;
    border-left: 1px solid #7c7a7a;
    overflow: hidden;
}
#write{
    padding: 2vw 1vw;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 30vh;
    height: 50vh;
}
#write h1{
    font-size: 6vh;
    color: #343333;
}
#write p{
    position: absolute;
    top:9vh;
    opacity: .7;
    font-size: 2vh;
    text-align: left;
}
#tall h1 span{
    color: #343333;
    font-size: 6vh;
}

#tall{
    color: #343333;
    position: absolute;
    top: 1%;
    width: 4vw;
    height: 3vw;
    left: 4%;
}
#tall h1 span{
    font-size: 8vw;
}
#img{
    top: -10%;
    right: -45%;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img2{
    top: -10%;
    right: -45%;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img3{
    top: -10%;
    right: -45%;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img4{
    top: -10%;
    right: -45%;
    z-index: 10;
    position: absolute;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img5{
    top: -10%;
    z-index: 10;
    position: absolute;
    right: -45%;
    width: 22vh;
    height: 100%;
    transition: all ease 0.5s;

}
#img6{
    top: -10%;
    right: -45%;
    z-index: 10;
    position: absolute;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img7{
    top: -10%;
    right: -45%;
    z-index: 10;
    position: absolute;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img8{
    top: -10%;
    right: -45%;
    z-index: 10;
    position: absolute;
    width: 22vh;
    height: 270vh;
    transition: all ease 0.5s;

}
#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#img8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



}

